<li class="list">
	{{name}}
{{!-- 
	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eaten}}">EATING TIME!
	</button> --}}

	<button class="delete-slice buttonStyle"" data-id="{{this.id}}">Throw it Away!</button>
</li>
