<li class="list">
	{{name}}

	<button class="change-eaten buttonStyle" data-id="{{id}}" data-newEaten="{{eaten}}">EAT!
	</button>
	{{!-- <button class="delete-slice" data-id="{{this.id}}">DELETE!</button> --}}
</li>
